<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>boozy_version_2 WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>boozy_version_2 WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>boozy_version_2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E0354B81EB2997B0072517C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E0354CC1EB2997B0072517C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E0354D71EB2997B0072517C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E0354E01EB2997B0072517C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
