<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>winkie_w WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>winkie_w WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>winkie_w.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6EEC11A81EA9E1F9002E892B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EEC11BC1EA9E1F9002E892B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EEC11C71EA9E1F9002E892B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EEC11D01EA9E1FA002E892B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
